@media screen and (max-width:700px) {
nav{
    padding: 0 30px;
}

  
.links-item{

    position: absolute;
    top: 150px;
    background: #b48359e8;
   
   display: flex;
   flex-direction: column;
 
   height: 300px;
    width: 45%;
    border-radius: 30px;
    gap: 30px;
   
    transform: scale(0);
flex: 1;

}
.show {
    transform: scale(1);
}
.nav-links{
    flex: 1;
    right: 0;
 
}
.social-links{
    flex: 1;
    left: 0;
       
    
}

.menu{
    display: block;
    cursor: pointer;
}
.banner h1{
    font-size: 2rem;
}
.banner p{
    font-size: 1.3rem;
}
.btn{
    padding: 8px 20px;
    font-size: 1rem;
}
section{
   padding: 30px;
min-height: 100vh;
} 
/* about start */


    .about {
       
        flex-direction: column;
    }
      .text-container{
        margin-top: 100px;
      }
   
     .img-container img{
        width: 300px;
        height: 200px;
        transform: scale(1);
    }
         .img-2 {
             display: none;
         }
         .img-1{
            top: 15px;
         }
         /* menu start  */
         
 .menu-container, .trend-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
 }
 
  


}